/* Startsidan */
#homeBgImg {
    background-image: url("./assets/chili.jpeg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 85vh;
    max-height: fit-content;
    height: 100vh;
    display: flex;
    margin-bottom: 5em;
}

/* NAVBAR */

.layout-header{       
    padding: 1em 1.5em 0;   
    width: 92%;    
    height: 80px;
    background-color: black;    
    color: white;
    display: flex;
    justify-content: space-between;    
    border-bottom: 1px solid white;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 0.5em;
}

.layout-header .layout-logotype { 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: bold;  
    display: inline-block;
    font-size: 1.8rem; 
    margin-bottom: 0.5em;   
}

.layout-header .layout-logotype .layout-logotype-fire {
    color: #ff5100;
}

.layout-header .layout-nav-wrapper{    
    display: flex; 
    height: fit-content;
    width: fit-content;    
    padding-top: 8px;
}

.layout-header .layout-nav-wrapper .layout-nav {
    position: fixed;        
    background-color: rgba(0, 0, 0, 0.808);    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.layout-header .layout-nav-wrapper .menu-closed.layout-nav {
    transform: translateY(-100%);    
    transition: transform 200ms ease-in;
}

.layout-header .layout-nav-wrapper .menu-open.layout-nav {
    transform: translateY(0);
    transition: transform 300ms ease-out;
}

.layout-header .layout-nav-wrapper .layout-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    height: 70%;
    padding-top: 15%;    
}

.layout-header .layout-nav-wrapper .layout-nav ul li {
    text-decoration: none;
    margin: 1em 0;
}

.layout-header .layout-nav-wrapper .layout-nav ul li a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
}

.layout-header .layout-nav-wrapper .layout-menu-button {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    width: fit-content;
    height: fit-content;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.layout-header .layout-nav-wrapper .layout-menu-button 
.button-line-1, 
.button-line-2, 
.button-line-3 {
    display: block;
    background-color: white;
    margin-bottom: 5px;
    height: 4px;
    width: 30px;
    border-radius: 2px;
}


/* Meny-knapp transformation */
.layout-header .layout-nav-wrapper .layout-menu-button .button-line-1.menu-closed-button {
    transform: rotate(-45deg) translate(-3px, 9px) scale(1.35);    
    transition: all 300ms;   
}

.layout-header .layout-nav-wrapper .layout-menu-button .button-line-2.menu-closed-button {
    opacity: 0;
    transition: all 300ms;
}

.layout-header .layout-nav-wrapper .layout-menu-button .button-line-3.menu-closed-button {
    transform:  rotate(45deg) translate(-3px, -9px) scale(1.35);    
    transition: all 300ms;
}

.layout-header .layout-nav-wrapper .layout-menu-button .button-line-1.menu-open-button {
    transform: rotate(0deg)  scale(1);     
    transition: all 200ms;  
}

.layout-header .layout-nav-wrapper .layout-menu-button .button-line-2.menu-open-button {
    opacity: 1;
    transition: all 200ms;
}

.layout-header .layout-nav-wrapper .layout-menu-button .button-line-3.menu-open-button {
    transform: rotate(0deg)   scale(1);   
    transition: all 200ms;
}


/* Kontakt-sida*/ 
#muffinFireImg {
    width: 55%;
    height: auto;
    border-radius: 5%;
}

/* GDPR-texten */
#labelGDPRcheckbox {
    display: inline;
    margin-left: 1%;
}

/* Inputfält */
label {
    display: block;
}

input {
    margin-bottom: 2%;
}

/* Länk */
a {
    color: white;
}


/* Media query för skärmar större än 768 px */
@media screen and (min-width: 768px) {
    #muffinFireImg {
    max-width: 350px;
    height: auto;
    border-radius: 5%;
    }
}


/* Media query för skärmar större än 1024 px */
@media screen and (min-width: 1024px) {
    #homeBgImg {
        background-image: url("./assets/chilli-bg.jpg");
        min-height: 85vh;
        max-height: fit-content;
        box-shadow: inset 0 0 600px black;
        border-bottom: 2px solid white;
        
    }

    .layout-header{       
        border-bottom: white 1px solid;
        width: 92%;
        margin: 0 auto;
        margin-left: 4%;
        margin-right: 4%;
    }

    input {
        margin-bottom: 1%;
    }

    #muffinFireImg {
    max-width: 350px;
    height: auto;
    border-radius: 5%;
    }


    /* NAVBAR */
    .layout-header .layout-nav-wrapper .layout-menu-button 
    .button-line-1, 
    .button-line-2, 
    .button-line-3 {
        display: none;
    }

    .layout-header .layout-nav-wrapper {
        height: 100%;
        width: 40%;
    }

 
    .layout-header .layout-nav-wrapper .layout-nav {       
        background-color: transparent;
        position: absolute;
    }

    .layout-header .layout-nav-wrapper .layout-nav ul {
        display: flex;
        flex-direction: row;    
        justify-content: space-between;
        position: absolute;
        width: 50%;
        height: 100%;        
        top: 0;
        padding-top: 0;
        right: 5%;
        
    }

    .layout-header .layout-nav-wrapper .layout-nav ul li {
        margin: 3.5em 0;
        margin-bottom: 0;
    }

    .layout-header .layout-nav-wrapper .layout-nav ul li:hover {
        margin-top: 3em;
    }

    .layout-header .layout-nav-wrapper .layout-nav ul li a {
        font-size: 1.5rem;
        font-weight: 600;
        background: linear-gradient(125deg, #ffffff 40%, #faba86 50%, #ffffff 60%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300% 100%;
        transition: background-position 1200ms;        
    } 

    .layout-header .layout-nav-wrapper .layout-nav ul li:hover > a {
        text-decoration: underline #ffffff 3px;        
        background-position: -200% 0;        
    }

    .layout-header .layout-nav-wrapper .menu-closed.layout-nav,
    .layout-header .layout-nav-wrapper .menu-open.layout-nav {
        transform: none;   
        height: 80px; 
    }
    
}

@media screen and (min-width: 1200px) {
    .layout-header .layout-nav-wrapper .layout-nav ul{
        width: 40%;
    }
}

/* @media screen and (min-width: 1200px) {
    .layout-header .layout-nav-wrapper .layout-nav ul {
        top: -40%;
    }
}

@media screen and (min-width: 1480px) {
    .layout-header .layout-nav-wrapper .layout-nav ul {
        top: -42%;
    }
}

@media screen and (min-width: 1700px) {
    .layout-header .layout-nav-wrapper .layout-nav ul {
        top: -43%;
    }
}

@media screen and (min-width: 2000px) {
    .layout-header .layout-nav-wrapper .layout-nav ul {
        top: -44%;
    }
}

@media screen and (min-width: 2300px) {
    .layout-header .layout-nav-wrapper .layout-nav ul {
        top: -46%;
    }
} */