* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    background-color: black;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: rgba(255, 255, 255, 0.027);
    padding: 1%;
    color: white;
}

main {
    width: 100vw;
    min-height: 80vh;
    max-height: fit-content;
    background-color: rgb(207, 218, 228);
    padding: 1%;
    margin: 0;
    padding: 0;
}

footer {
    width: 100vw;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.027);
    padding: 1%;
}